#title {
	padding-top: 1em;
	padding-left: 150px;
	padding-bottom: 10px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 48px;
	font-family: 'PT Sans Narrow',sans-serif;
/*	font: 100 160% 'Dancing Script', Georgia, Times, serif;
*/}

div#info {
	padding-left: 150px;
	padding-bottom: 1em;
	line-height: 120%;
	margin-bottom: 5px;
	font-family: 'PT Sans Narrow',sans-serif;
	color: #737373;
}

div#fast_sort, div#fast_search {
	display: inline-block;
}

#fast_sort {
	float: right;
	margin-right: 100px;
}

#fast_search {
	margin-left: 100px;
}

div#search_info, div#search_box, div#sort_info, div#sort_box, #s_icon {
	display:inline-block;
	line-height: 200%;
}

div#search_info, div#sort_info {
	font-size: 140%;
}

#search_info, #sort_info {
	padding-right: 1em;
}

.sort_li li {
	display:inline;
	padding-right: 5px;
}

div#sort_wrapper ul.sort {
	position:absolute;
	width: 20%;
}

div#author_box, div#title_box, div#city_box, div#date_box {
	display:none;
}

#info-wrap {
	margin-bottom: 1em;	
}

#extra_searchinfo, #extra_sortinfo {
	display: inline-block;
	font-size: 90%;
	width: 170px;
}

#extra_sortinfo {
	float: right;
	margin-right: 150px;
}

#extra_searchinfo {
	margin-left: 150px;
}

div#lib_pic {
	margin-top: 10px;
	margin-bottom: 10px;
	height: 200px;
	width: 1000px;
	overflow: hidden;
	position: relative;
	border-radius: 3px;
}

img#library_picture {
	top: -90px;
	position: absolute;
/*	box-shadow: 0 8px 10px #2E2D2D;
*/}
