{% extends 'novels/novels_dummy_base.html' %}

{% block heads %}
{% endblock %}

{% block body_title %}
{% endblock %}

{% block content %}

<div id="detail">
	{% block cover %}
	<div id="detailcover">
		<table id="cover" style="border:none !important;" width="385" height="550">
		<tr>
			<td>
			<img src="{{ STATIC_URL }}JJDLP/images/finneganswake_cover.jpg" width="360" height="550">
			</td>
		</tr>
		</table>
	</div>
	{% endblock %}
<div class="tabnav column650">
	<div class="tabs">
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#item" aria-controls="home" role="tab" data-toggle="tab" class="taba"><span class="glyphicon glyphicon-certificate"></span> Book</a></li>
			<li role="presentation"><a href="#rnotes" aria-controls="profile" role="tab" data-toggle="tab" class="taba"><span class="glyphicon glyphicon-file"></span> Pages 
			{% if amountofpages %}<span class="badge">{{ amountofpages }}</span>{% endif %}</a></li>
		</ul>
	</div>

<div class="tab-content">

	<div role="tabpanel" class="tab-pane active" id="item">
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>{{ object.title }}</strong>
				<br/>
				{{ object.publication_date }} {% if object.publisher %}| {{ object.publisher }}{% endif %}
			</div>
			<div class="panel-body">
				{{ object.info|safe }}
			</div>
		</div>

	</div>
	<div role="tabpanel" class="tab-pane" id="rnotes">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					This book contains {{ amountoflines }} lines.
				</h3>
			</div>
			<div class="panel-body">
				{% for section in sections %}
					{% for chapter in section.chapter_in_section.all %}
					<div>
						{{ section }}.{{ chapter }}: pp. {{ chapter.page_of_chapter.first.pagenumber }} - {{ chapter.page_of_chapter.last.pagenumber }}
					</div>
					{% endfor %}
				{% endfor %}

				<div class="pagination">
		    		Go to page 
				    <select class="selector" onchange="location = this.options[this.selectedIndex].value;">
				    	{% for page in pages %}
				    	<option value="{% url 'novelpage_detail' novelslug=object.slug novelpage=page.pagenumber %}">{{ page.pagenumber }}</option>
				    	{% endfor %}
				    </select>
			    </div>
		    </div>
	    </div>
	</div> 
</div>
</div>
</div>   
</div>
{% endblock %}
