*.pyc
*.gif
*.jpg
*.png
*.ico
*~

.DS_Store

JJDLP/settings.py
static/JJDLP/images
static/JJDLP/js

manage.py

.idea
media/
library/migrations/
notebooks/migrations/
manuscripts/migrations/
texts/migrations/
m_backups/

scripts/
static/JJDLP/bootstrap-3.3.5-dist/
static/JJDLP/js/bootstrap*
static/JJDLP/js/d3*
static/JJDLP/js/elevate*
static/JJDLP/js/jquery*

CODING_DIRECTIONS.txt
NOTE_ON_IMAGES.txt
tests.py

gentext/.gitignore
