{% extends dummy_base %}
{% load thumbnail %}


{% block content %}
	<div id="deskcover">
		{% block cover %}
		{% endblock %}
		{% block pagination %}{% endblock %}

	</div>

	{% block frontmodal %}
	{% endblock %}

	<div class="{% block content_division %}column550{% endblock %}">

		<h2>{% block item_title %}{{ item }}{% endblock %}</h2>
		{% block description %}{% endblock %}
		{% block info %}{% endblock %}
		<hr/>

		<div class="desk-grid">

			{% block grid %}{% endblock %}
		</div>

		{% block extra %}{% endblock %}

	</div>
{% endblock %}

{% block finaljavascript %}
{% endblock %}