.homepage-wrap {
	padding-left: 5px;
	padding-right: 5px;
}
.module-header {
	padding-top: 20px;
	padding-bottom: 20px;
}
.module-header .title {
	text-align: left;
	padding-bottom: 10px;
	font-size: 50px;
	line-height: 50px;
}
.module-header:after {
	content: ' ';
	display: block;
	height: 0;
	clear: both;
}
.left {
	width: 70%;
	float: left;
}
.left:after {
  content: ' ';
  display: block;
  height: 0;
  clear: both;
}
.search {
	padding-top: 20px;
	width: 30%;
	float: right;
}
#searchquery {
	float: left;
	width: 79%;
}
.searchbutton {
	float: right;
	width: 20%;
}
#chart {
	text-align: center;
}

.module, .module-title {
  margin-left: 15px;
  margin-right: 15px;
}
.module-title {
  margin-top: 20px;
}
.module-title .title-text {
  font-size: 24px;
}
.module-info {
	color: #555;
	margin-top: 5px;
	margin-bottom: 10px;
}
#filterq {
  width: 20%;
  height: 30px;
}

.pane {
  color: #555;
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 3px solid #777;
  border-bottom: 1px solid #ddd;
}
.pane .pane-title {
  font-weight: bold;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.pane .pane-title a {
	float: right;
}
.pane .pane-body {
  padding-top: 10px;
}
.pane .pane-link {
  text-align: center;
}
.pane .pane-link-text {
  font-size: 20px;
  font-variant: small-caps;
}
.img-wrap {
	width:100%;
	height:230px;
	overflow:hidden;
	text-align:center;
}
.img-home {
	width: 100%;
}