* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

html {
  font-size: 90%;
  position: relative;
  min-height: 100%;
  min-width:960px;
  font-size: 14px;
  text-align: center;
  font-family: 'Open Sans', Arial, 'Liberation Sans', Freesans, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 30px;
  margin-bottom: 5px;
}

div {
  display: block;
}

.page-wrap {
  width: 1000px;
  margin: 0 auto;
  display:block;
}
.page-wrap:after{
  clear:both;
  content:"";
  display:block;
}

div#body {
  text-align: left;
  min-height:80%;
  height:auto;
  padding-bottom: 50px;
/*  border-top: 2px solid #F7F7F7;
*/
}
div#body a {
  color: #c34528;
}
div#body a.notred{
  color: black;
}
div#body a.nohover:hover {
  background-color: white;
  border-color: #ccc;
}
div#body a.neverred:hover {
  color: black;
  text-decoration: none;
}
div#body a.notunderline:hover {
  text-decoration: none;
}
div#body a:hover {
  color: #732817;
}
div#body a.thumbnail {
  margin-bottom: 0px;
}
div#body a.thumbnail:hover {
  border-color: #732817;
}
div#body .active>img {
  border-color:#c34528;
}
div#body a.taba {
  color: #777;
}
div#body .active a.taba {
  color: #555;
}
.pagination>.active>a {
  background-color: #EBAA9C !important;
  border-color: #EBAA9C !important;
}
.djpagination {
  margin-bottom: 1em;
  text-align: center;
}
.blocklist {
  display:block !important;
}
.blocklist:hover {
  background-color: #f8f8f8 !important;
}
div.footer-wrap {
  border-top: 2px solid #F7F7F7;
  margin-top: 3rem;
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  height:200px;
}
div.footer-wrap:after{
  clear:both;
  content:"";
  display:block;
}

#toolbar {
  border-radius: 5px;
  padding: 6px 0 6px 0;
  background-color: #f5f5f5;
  margin-bottom: 20px;
}
.double-paneldisplay {
  margin-top: 20px;
  margin-bottom: 20px;
}
.double-paneldisplay div.leftpanel, div.rightpanel {
  display: inline-block;
}
.rightpanel {
  cursor: pointer;
  float: right;
}
.double-paneldisplay .leftpanel, .double-paneldisplay .rightpanel {
  width: 490px;
}
.double-paneldisplay .panel-body {
  margin-right: 0;
}
.breadcrumb, .s {
  display: inline;
}
.s {
  float: right;
  margin-right: 15px;
}
.s .form-control, sort_fields {
  margin-top: -1px;
  padding: 1px 10px;
  font-size: 12px;
  height: 22px;
}
.s > form {
  margin: 0;
}
.sort_fields {
  line-height: 12px;
  margin-right: 15px;
  float: right;
}
.sort_fields.btn {
  margin-top: -1px;
  font-size: 12px;
  padding: 2px 5px;
}
div.footer {
  margin: 0 auto;
  width: 1000px;
  color: #777;
  padding-top: 15px;
}

div.footer .info {
  display: inline-block;
}

div.footer .copyright {
  float: left;
}

div.footer .footerimages{
  float: right;
  opacity:.7;
  -webkit-filter:grayscale(1);
  filter:grayscale(1);
}

.timeline-wrap {
  padding-top: 2em;
}

.detail-timeline {
  padding-top: -2em;
  padding-bottom: 1em;
}
.novel_page {
  width: 800px;
  margin-left: 100px;
  margin-right: 100px;
}
.novel_page table {
  width: 720px;
  margin-left: 30px;
}
div.thum_caption {
  text-align: center;
  padding: 0 !important;
  color: #555 !important;
}
div.modal_titleHeading {
  color: #e0dcdc;
  position: absolute;
  top: 0px;
  font-size: medium;
  padding: 1em;
  background: transparent;
  background-image: url("http://www.tn3gallery.com/skins/tn3/bg.png");
  display: none;
}
img.thum {
  border-radius: 3px;
}

/* HEADER */
.head_nav {
  text-align: left;
  display: block;
  width: 1000px;  /*fixed width*/ 
  margin: 0 auto; /* centers content */
}

#title-wrap {
  padding: .5em;
  font-size: 130%;
}

#sec-wrap {
  padding-top: .5em;
}
/* Font css (title, etc.) */
#head_banner {
  padding-top: 1em;
}
div#specified_info p {
  padding-bottom:1em;
}
#banner-wrap {
  width:100%;
}
/* Floaters */
.column650 {
  width: 63%;
  margin: 0;
  float: left;
  padding-left: 10px;
}
table#cover {
  border: 1px solid #ddd;
  border-radius: 5px;
}
.blank_row {
  height:15px;
}
ul.page_grid {
  background-image: url('roughblack.jpg');
  text-align: center;
}
/* search and sort BAR */
.library_nav {
  display:block;
  width: 100%;
  min-height: 50px;
}
.library_nav, .url_navigator {
  display: inline;
}
.breadcrumb {
  background-color: transparent !important;
}
.dropdown-menu>.active>a {
  background-color:  #c34528 !important;
}

/* search and sort LIST */
.fail, #searched_for {
  text-align: center;
  margin: 40px;
}
.highlighted {
  background-color: rgba(255,255,140,0.5);
  font-weight: bold;
}
table.result_list td.bib_info {
  width: 800px;
}
.second_bib_info {
  margin: 5px;
  margin-left: 50px;
}
table.result_list td.pub_text {
  text-align: right;
  float: right;
  padding-top: 10px;
}

table.result_list tr {
  display:block;
  padding-top: 5px;
}

table.result_list td {
  display: inline-block;
  vertical-align: center;
}

table.result_list tr.advanced_info, td.advanced_info {
  padding-left: 3em;
  padding-top: 0em;
  color: #BDBDBD;
  border:none;
}

div.search_docs {
  display: block;
  float: right;
  width: 15%;
  border: 2px solid #efefef;
  padding: 5px;
  border-radius: 10px;
}

span.column {
  display: inline-block;
  min-width: 150px;
}

span.column:nth-child(3) {
  float: right;
}

/* source DETAIL */
#content#detail {
  height: 550;
}
#detail.detailcover, #detail.column650 {
  display: inline;
}
.titleinfo {
  color: #555;
}
.source_info {
  padding-left: 10px;
  display: inline;
}

#detailcover {
  float: left;
  padding-right: 10px;
  width:37%;
}

img.frontcover {
  border-radius: 3px;
  box-shadow: 1px 1px 2px gray;
}

.tabs {
  margin-bottom: 20px;
}

.page_grid li {
  display: inline-block;
  list-style: none;
}

ul#tabs li {
  display:inline;
}

/* source PAGEDETAIL */
table#item_info td {
  padding-right: 1em;
}
.detail_page {
  position:relative;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}
.frame {
  position: absolute;
  float: left;
  top: 15px;
  border-collapse: separate;
  border-spacing: 0;
}
.framelight {
  border:3px solid #A83B22;
  box-shadow: 0 0 20px #c34528;
  border-radius: 5px;
}
.frame-top-single {
  visibility: hidden;
}
.frame-bottom-single {
  visibility: hidden;
}
.frame-top-left {
  visibility: hidden;
}
.frame-bottom-left {
  visibility: hidden;
}
.frame-top-right {
  visibility: hidden;
}
.frame-bottom-right {
  visibility: hidden;
}
.excerptPopover {
  margin-top: 1em;
  position: relative;
  text-align: left;
  top:0;
}
.notelist {
  padding-left: 20px;
}

.gallery-wrap {
  border-top: 1px solid rgba(0,0,0,.10);
  border-bottom: 1px solid rgba(0,0,0,.10);
  padding: 1em;
  width: 100%;
  background-color: #e7e7e7;
}
.page-gallery {
  width: 1000px;
  margin: 0 auto;
}
.page-gallery img.active{
  border: 1px solid #c34528;
}
.page-gallery .page-row-well {
  text-align: center;
}
.page-gallery .page-row-well div {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.page-gallery .page-row-well .page-row {
  min-width: 100px;
}
.page-gallery .page-row-well .thumbnail {
  margin-left: auto;
  margin-right: auto;
}
img#source_page {
  box-shadow: 0 8px 16px rgba(0,0,0,.45);
}
div.transcription {
  margin-right: 0;
  display:inline-block;
  text-align:left;
}
.singletranscription {
  width: 48%;
}
div#transcription-view .page1 {
  box-shadow: 0 8px 16px rgba(0,0,0,.45);
}
.transcription REF {
  color: black;
}
.transcription REF REF {
  color: black;
}
.transcription ADD {
  font-size: 14px;
}
.transcription ADD::before {
  content:"^+";
}
.transcription ADD::after {
  content:"+^";
}
.transcription ADD[place^="facingleaf"] {
  color: #295FC3;
}
.transcription ADD[place^="overleaf"] {
  color: #1F8893;
}
 .transcription DIV[type="page"]::before {
  content: "*p. "attr(n)"*";
}
.transcription a.ref {
  font-size: 14px;
  padding-left: 3px;
  padding-right: 3px;
}
.referenced_transcription-content REF[n='B.01'], .referenced_transcription-content a[n='B.01'] {
  color: orange !important;
} 
.referenced_transcription-content REF[n='B.02'], .referenced_transcription-content a[n='B.02'] {
  color: #C38A29 !important;
} 
.referenced_transcription-content REF[n='B.03'], .referenced_transcription-content a[n='B.03'] {
  color: #E5DA41 !important;
} 
.referenced_transcription-content REF[n='B.06'], .referenced_transcription-content a[n='B.06'] {
  color: #9029C3 !important;
} 
.referenced_transcription-content REF[n='B.10'], .referenced_transcription-content a[n='B.10'] {
  color: #c34528 !important;
} 
.referenced_transcription-content REF[n='B.11'], .referenced_transcription-content a[n='B.11'] {
  color: purple !important;
} 
.referenced_transcription-content REF[n='B.16'], .referenced_transcription-content a[n='B.16'] {
  color: #C329AE !important;
} 
.referenced_transcription-content REF[n='B.25'], .referenced_transcription-content a[n='B.25'] {
  color: blue !important;
} 
.referenced_transcription-content REF[n='B.26'], .referenced_transcription-content a[n='B.26'] {
  color: #29C3A7 !important;
} 
.referenced_transcription-content REF[n='B.29'], .referenced_transcription-content a[n='B.29'] {
  color: #29C32E !important;
} 
/* notebookpage detail */
.noteclick {
  cursor: pointer;
}
div.page1 {
  display: inline;
  width: 50%;
  margin-right: 10px;
  float: left;
}
.clear {
  padding-top: 2em;
  clear:both;
}

.gallery_toolbar {
  text-align: center;
}
.md {
  border-left: 1px solid #eee;
  padding-left: 30px;
}
/* recent_actions */
.module#database-count-module{
  padding: 2em;
  text-align: center;
  font-size: 150%;
}
.module#info-module {
  width: 680px;
  position: absolute;
}
.module#action-module {
  width: 300px;
  margin-right: 0;
  margin-left: auto;
}
.module#recent-actions-module li {
  list-style-type: none;
  margin-left: 20px;
}
.module#recent-actions-module .icon {
  margin-left: -20px;
}
.module#recent-actions-module h2 {
  margin-top: 0;
  font-size: 18px;
}
.module#recent-actions-module .mini {
  font-size: 90%;
}
.module#recent-actions-module .quiet {
  color: #888;
}
/* notebook */
hi[rend='sup italic'] {
  vertical-align: super;
  font-size: 90%;
  font-style: italic;
}
hi[rend='super'] {
  vertical-align: super;
  font-size: 90%;
  font-style: italic;
}
hi[rend='italic'] {
  margin-right: 10px;
  margin-left: 10px;
}