{% extends 'JJDLP/dummy_base.html' %}
{% load staticfiles %}


{% block heads %}
<link rel="stylesheet" href="{% static 'JJDLP/css/homepage.css' %}"/>
<script src="https://code.angularjs.org/1.3.15/angular.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
{% endblock %}


{% block title %}Manuscripts{% endblock %}


{% block body %}
<div class="homepage-wrap">
	
	<div class="module module-header">
		<div class="left">
			<div class="title">James Joyce's manuscripts</div>
			<div class="info"></div>
			<div class="module-counter">
				Manuscripts: <strong>{{ counted_manuscripts }}</strong>
				<br/>
				Transcribed pages: <strong>{{ counted_pages }}</strong>
			</div>
		</div>

		<div class="search">
			<form class="form-wrap" action="{% url 'manuscripts_fast_search' %}" method="get">
				<input class="form-control" id="searchquery" type="text" name='q' placeholder="Search manuscripts...">
				<input type="hidden" name="models" value="manuscripts.manuscriptpage" />
				<button class="searchbutton btn btn-default" type="submit">Search</button>
			</form>
			<div style="text-align: right;float: right;">
				<a href="{% url 'haystack_search' %}">advanced search</a>
			</div>
		</div>
	</div>

<hr/>
	<div class="img-wrap">
		<img src="{% static 'JJDLP/images/manuscripts_home.png' %}" class="img-home">
	</div>
	<div class="chart-info" style="color:#999; margin-top: 15px; margin-left: 15px;">
		<span class="small">Image: MS 47488-17v; <i>JJA</i> 63: 24.</span>
	</div>
<hr style="margin-top: 5px;" />

	<div ng-app="manuscripts">
		<div ng-controller="collectionCtrl" class="viewer">
			<div class="module-title">
				<div class="module-info">
					<p>blabla</p>
				</div>		
				<span class="title-text">Manuscripts</span>
				<div class="module-info">
					<p>blabla</p>
				</div>
				<input class="form-control" id="filterq" placeholder="Find collections..." type="text" ng-model="fquery.title"/>
			</div>
			<div class="col-md-6" ng-repeat="c in collections | filter:fquery | orderBy:'-collection'" ng-cloak>
				<div class="pane">
					<div class="pane-title">
						{$ c.title $}
						{$ fetch(c.collection) $}
						<a class="pane-ref small notunderline" href="">{$ fetched.title $}</a>
					</div>
					<div class="pane-body" ng-bind-html="c.info|markdown"></div>
					<a class="pane-link notunderline" href="{$ c.slug $}/"><span class="pane-link-text">more</span> <span class="glyphicon glyphicon-link"></span></a>
				</div>
			</div>
		</div>
	</div>

</div>
{% endblock %}


{% block finaljavascript %}
<script src="{% static 'manuscripts/angular/manuscripts.module.js' %}"></script>
<script src="{% static 'manuscripts/angular/collection-parse.js' %}"></script>
{% endblock %}