{% extends 'JJDLP/dummy_base.html' %}

{% block title %}Manuscripts{% endblock %}

{% block extra_tools %}
	<div class="s">
		<form action="{% url 'manuscripts_fast_search' %}" method="get">
				<input class="form-control" id="searchquery" type="text" name='q' placeholder="Search manuscripts...">
				<input type="hidden" name="models" value="manuscripts.manuscriptpage" /> 
		</form>
	</div>
{% endblock %}

{% block body %}
	<section id="content">
		{% block content %}
			Oops, you have found a hidden page! This is rather problematic, so please contact the developers.
		{% endblock %}
	</section>
{% endblock %}