{% extends "generic/catalogue.html" %}
{% load markdown_filter %}
{% load thumbnail %}
{% load humanize %}

{% block heads %}
{% endblock %}


{% block ghost_frontcover %}{{ MEDIA_URL }}JJDLP/images/generic_frontcover.jpg{% endblock %}


{% block info %}
	{{ item.homepage_info|markdownify|safe }}
	{{ item.info|markdownify|safe }}
{% endblock %}


{% block extra_tab %}
	{% if collection_list %}
		<li role="presentation">
			<a href="{% url 'manuscripts_list' slug=item.slug %}" class="taba">
				<span class="glyphicon glyphicon-list"></span>
				List
			</a>
		</li>
	{% endif %}
{% endblock %}


{% block cover_display %}
	<div class="row">
		{% for cover in covers %}
			<div class="col-sm-2 col-md-3" style="margin-bottom: 1em;">
			{% thumbnail cover.image "x85" as thum %}
				<a class="thumbnail" href="{% url 'notebooks_page' noteb=item notebpage=cover.page_number %}" title="{{ cover.page_number }}">
					<img src="{{ thum.url }}" width="{{ thum.width }}" height="{{ thum.height }}">
					<div class="caption thum_caption">{{ cover.page_number }}</div>
				</a>
			{% endthumbnail %}
			</div>
		{% endfor %}
	</div>
{% endblock %}


{% block list_display %}
	<hr>
	Content: {{ detail_count|apnumber|title }} page{{ detail_count|pluralize }}
	<hr>
	<div class="row">
		{% for element in collection_list %}
			<div class="col-sm-2 col-md-3" style="margin-bottom: 1em;">
			{% thumbnail element.image "x85" as thum %}
				<a class="thumbnail" href="{% url 'manuscripts_page' slug=item.slug page=element.page_number|slugify %}" title="{{ element.page_number }}">
					<img src="{{ thum.url }}" width="{{ thum.width }}" height="{{ thum.height }}">
					<div class="caption thum_caption">{{ element.page_number }}</div>
				</a>
			{% endthumbnail %}
			</div>
		{% endfor %}
	</div>

	<div class="paginator_select" style="text-align:center;">
	    <select class="selector" onchange="location = this.options[this.selectedIndex].value;">
	    	{% for element in view.all_pages %}
	    	<option value="{% url 'manuscripts_page' slug=item.slug page=element.page_number|slugify %}">{{ element.page_number }}</option>
	    	{% endfor %}
	    </select>
	</div>
{% endblock %}



{% block finaljavascript %}
{% endblock %}
