{% extends "gentext/desk.html" %}
{% load thumbnail %}
{% load xml_operations %}

{% block heads %}
{% endblock %}


{% block item_title %}
<div class="small" style="margin-bottom: 1em;"><span class="glyphicon glyphicon-list"></span> Transcription list</div>
{{item}}
{% endblock %}


{% block content_division %}
column100
{% endblock %}


{% block grid %}

	<div class="gallery_toolbar">
		<div class="btn-group" data-toggle="buttons">
			<a id="references_button" class="btn btn-default notred neverred" href="#referenced_transcription-content">Notebook view</a>
			<a class="btn btn-default notred neverred" href="#" data-toggle="modal" data-target="#infomodal"><span class="glyphicon glyphicon-question-sign"></span> Info</a>
		</div>
	</div>

{% include 'manuscripts/includes/infomodal.html' %}

	{% for page in collection_list %}
		<div class="media">
		 	<div class="media-left">
				{% thumbnail page.image "150" as thum %}
				<a href="{% url 'manuscripts_page' item.slug page.slug %}">
					<img src="{{ thum.url }}" width="{{ thum.width }}" height="{{ thum.height }}">
				</a>
		    	{% endthumbnail %}
		  	</div>
			<div class="media-body">
			    <h4 class="media-heading">{{ page }}</h4>
			    <div class="transcription">
					<div class="transcription-content">
						{{ page.transcription|safe }}
					</div>
					<div class="referenced_transcription-content" style="display: none;">
						{% show_ref_tag page.transcription %}
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
		{% include 'gentext/includes/nums_paginator.html' %}

{% endblock %}

{% block finaljavascript %}
<script>
var button = $('#references_button');
var referencesActive = false;

button.on('click', function() {
	referencesActive = !referencesActive;

	if (referencesActive) {
		$('.transcription-content').hide();
		$('.referenced_transcription-content').show();
	} else {
		$('.referenced_transcription-content').hide();
		$('.transcription-content').show();
	}
});
</script>
{% endblock %}