{% extends 'JJDLP/dummy_base.html' %}
{% load thumbnail %}

{% block heads %}
<script src="{{ STATIC_URL }}JJDLP/js/jquery-1.11.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}library/css/library_homepage_css.css" />
{% endblock %}

{% block title %}Manuscripts - James Joyce Database{% endblock %}

{% block body_title %}
<div id="toolbar">
	<div class="url_navigator">
		{% include 'library/includes/breadcrumb.html' %}
	</div>
</div>

<table id="head_banner">
	<tr>
		<section id="title">Manuscripts</section>
	</tr>
	<tr>
			<div id="info">
				<p></p>
			</div>
	</tr>
	<tr>
		<div id="lib_pic">
			<img src="{{ STATIC_URL }}JJDLP/images/manuscripts_img.jpg" style=" position: relative; top: -200px; border-radius: 10px;">
		</div>
	</tr>
</table>
{% endblock %}

{% block body %}
<div id="lib_count"><strong>{{ counted_manuscripts }}</strong> manuscript collection{{ counted_manuscripts|pluralize }} in the manuscript database</div>

<div class="double-paneldisplay">
<div class="leftpanel">
	<div class="panel panel-default well" style="min-height: 170px;">
		<div class="panel-body">
			<h3 style="display:inline;padding-right: 40px;"><span class="glyphicon glyphicon-search"></span> Search</h3>
				<div id="search_box">
					<form action="{% url 'manuscripts_fast_search' %}" method="get">
						<input style="width: 120%;" class="form-control" id="searchquery" type="text" name='q' placeholder="Search manuscripts...">
						<input type="hidden" name="models" value="manuscripts.manuscriptpage" /> 
					</form>
				</div>

			<div class="timeline-wrap detail-timeline detailtimeline">
				Visit the <a href="{% url 'haystack_search' %}">advanced search</a> page for more thorough searches.
			</div>				
		</div>
	</div>
</div>
<div class="rightpanel" data-toggle="modal" data-target="#browsemodal">
	<div class="panel panel-default well" style="min-height: 170px;">
		<div class="panel-body">
			<h3 style="display: inline;"><span class="glyphicon glyphicon-th"></span> Browse</h3>
			<div class="timeline-wrap detail-timeline detailtimeline">
				Click to browse the available manuscript manuscript collections.
			</div>				
		</div>
	</div>
</div>
</div>

<div class="modal fade" id="browsemodal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
	    <div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Browse manuscript collections</h4>
			</div>
			<div class="modal-body">
				<div class="sorter">
					<ul class="list-group">
						{% for manuscript in manuscripts %}
						<li class="list-group-item blocklist">
							<a class="notred neverred" href="{% url 'manuscripts_detail' collectionslug=manuscript.slug %}">
								{{ manuscript.title }}; {{ manuscript.page_set.count }} page{{ manuscript.page_set.count|pluralize }}
							</a>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
	    </div>
	</div>
</div>


<div class="panel panel-default">
	<div class="panel-body">
	<div class="media">
		<div class="media-body">
			<h4 class="media-heading">Available collections:</h4>
			
		</div>
		{% for manuscript in manuscripts %}
		<div class="media">
		  <div class="media-left">
		      <img class="media-object" src="" alt="" height="" width="">
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading"><a class="notred" href="{% url 'manuscripts_detail' collectionslug=manuscript.slug %}">{{ manuscript.title }}</a></h4>
		    {{ manuscript.homepage_info|safe }}
		  </div>
		</div>
		{% endfor %}
	</div>
</div>
</div>

{% endblock %}

{% block finaljavascript %}
{% endblock %}