{% extends "gentext/desk.html" %}
{% load markdown_filter %}
{% load thumbnail %}
{% load xml_operations %}


{% block heads %}
{% endblock %}


{% block title_display %}
    <h4 class="media-heading">{{ item.item_type }} {{ item }}</h4>
	Current page: {{ object.page_number }}
	<br/>
	<br/>
	{{ item.note_on_transcriptions|markdownify|safe }}
{% endblock %}


{% block desk_content %}
	<div class="gallery_toolbar">
		<div class="btn-group" data-toggle="buttons">
			<a id="page_button" class="btn btn-default notred neverred" href="#page-view" aria-controls="home" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-file"></span></a>
			<a id="zoom_button" class="btn btn-default notred neverred" href="#page-view" aria-controls="profile" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-zoom-in"></span></a>
			<a class="btn btn-default notred neverred nohover" style="cursor: default;">~</a>
			<a id="transcribe_button" class="btn btn-default notred neverred" href="#transcription-view" aria-controls="profile" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-text-height"></span></a>
			<a id="references_button" class="btn btn-default notred neverred" href="#referenced_transcription-content"><span class="glyphicon glyphicon-list-alt"></span></a>
			<a class="btn btn-default notred neverred" href="#" data-toggle="modal" data-target="#infomodal"><span class="glyphicon glyphicon-question-sign"></span></a>
		</div>
	</div>

	{% with object.manuscript as item %}
	{% include 'manuscripts/includes/infomodal.html' %}
	{% endwith %}

	<div class="tab-content detail_page">
		<div id="page-view" role="tabpanel" class="tab-pane active">
		{% if object.image|is_portrait %}
			{% thumbnail object.image "x700" as im %}
				<img id="source_page" alt="" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" data-zoom-image="{{ MEDIA_URL }}{{ object.image }}">
			{% endthumbnail %}
		{% else %}
			{% thumbnail object.image "1000" as im %}
				<img id="source_page" alt="" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" data-zoom-image="{{ MEDIA_URL }}{{ object.image }}">
			{% endthumbnail %}
		{% endif %}
		</div>
		<div id="transcription-view" role="tabpanel" class="tab-pane">
			<div class="page1" style="width:500px; overflow: auto;direction:rtl;">
		{% if object.image|is_portrait %}
			{% thumbnail object.image "500" as im %}
				<img id="transcription_page" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" data-zoom-image="{{ MEDIA_URL }}{{ object.image }}">
			</div>
			<div id="transcription" class="panel paneldefault">
			<div style="min-height:{{ im.height }}px;">
			{% endthumbnail %}
		{% else %}
			{% thumbnail object.image "1000" as im %}
				<img id="transcription_page" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" data-zoom-image="{{ MEDIA_URL }}{{ object.image }}">
			</div>
			<div class="transcription singletranscription panel paneldefault">
			<div style="min-height:{{ im.height }}px;">
			{% endthumbnail %}
		{% endif %}
				<div class="panel-body">
					<div class="transcription-content">
						{{ object.transcription|safe }}
					</div>
					<div class="referenced_transcription-content" style="display: none;">
						{% show_ref_tag object.transcription %}
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
{% endblock %}


{% block desk_paginator %}
	<div class="clear"></div>
	<div class="page-row-well well well-sm">
		{% if previous_image %}	
			<div class="page-row">
			{% thumbnail previous_image.image "x100" as previous_thum %}
				<a href="{% url 'manuscripts_page' slug=item.slug page=previous_image.page_number|slugify %}" title="{{ previous_image.page_number }}">
					<img class="thumbnail" style="margin-bottom:0;" src="{{ previous_thum.url }}" width="{{ previous_thum.width }}" height="{{ previous_thum.height }}">
					<div class="caption thum_caption" >{{ previous_image.page_number }}</div>
				</a>
			{% endthumbnail %}
			</div>
		{% endif %}
			<div class="page-row">
			{% thumbnail chosen_image.image "x100" as actual_thum %}
				<img class="thumbnail active" style="margin-bottom:0;" src="{{ actual_thum.url }}" width="{{ actual_thum.width }}" height="{{ actual_thum.height }}">
				<div class="caption thum_caption">{{ chosen_image.page_number }}</div>
			{% endthumbnail %}
			</div>
		{% if next_image %}
			<div class="page-row">
			{% thumbnail next_image.image "x100" as next_thum %}
				<a href="{% url 'manuscripts_page' slug=item.slug page=next_image.page_number|slugify %}" title="{{ next_image.page_number }}">
					<img class="thumbnail" style="margin-bottom:0;" src="{{ next_thum.url }}" width="{{ next_thum.width }}" height="{{ next_thum.height }}">
					<div class="caption thum_caption">{{ next_image.page_number }}</div>
				</a>
			{% endthumbnail %}
			</div>
		{% endif %}
	</div>
{% endblock %}


{% block finaljavascript %}
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
<script>
var button = $('#references_button');
var referencesActive = false;

button.on('click', function() {
	referencesActive = !referencesActive;

	if (referencesActive) {
		$('.transcription-content').hide();
		$('.referenced_transcription-content').show();
	} else {
		$('.referenced_transcription-content').hide();
		$('.transcription-content').show();
	}
});

</script>
<script src="{{ STATIC_URL }}JJDLP/js/jquery.elevatezoom.js" type="text/javascript"></script>
<script>
var transcribebutton = $('#transcribe_button');
var zoombutton = $('#zoom_button');
var image = $('#source_page');

var zoomActive = false;

transcribebutton.on('click', function () {
	zoomActive = false;

	$.removeData(image, 'elevateZoom');
	$('.zoomContainer').remove();
});

zoombutton.on('click', function () {

	zoomActive = !zoomActive;

	if (zoomActive) {
		image.elevateZoom({
			scrollZoom: true,
			constrainType:"height",
			constrainSize:274,
			zoomType: "lens",
			containLensZoom: true,
			cursor: 'pointer',
			galleryActiveClass: "active"
		});
	} else {
		$.removeData(image, 'elevateZoom');
		$('.zoomContainer').remove();
	}
});
</script>
{% endblock %}