{% extends "gentext/desk.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load xml_operations %}


{% block heads %}
{% endblock %}


{% block item_title %}
<div class="small" style="margin-bottom: 1em;"><span class="glyphicon glyphicon-list-alt"></span> Manuscript page</div>
{{ current_page.page_number }}
{% endblock %}


{% block description %}
<div class="titleinfo">
{% if item.note_on_transcriptions %}
	{% load markdown_filter %}
		{{ item.note_on_transcriptions|markdownify|safe }}
{% endif %}
</div>
{% endblock %}


{% block content_division %}column100{% endblock %}


{% block cover %}
	<div class="desk-pagination">
		{% if previous_page %}
			<div class="pagination-page col-sm-3 col-md-3">
			<div class="grid-header small">Previous</div>
			{% thumbnail previous_page.image "123x85" crop="top" as thum %}
				<a class="thumbnail notred neverred" href="{% url 'manuscripts_page' item.recurse previous_page.slug %}">
					<img src="{{ thum.url }}" width="{{ thum.width }}" height="{{ thum.height }}">
					<div class="caption-title">
						<div class="thum-info">{{ previous_page.actual_pagenumber }}</div>
					</div>
				</a>
			{% endthumbnail %}
			</div>
		{% endif %}

		<div class="pagination-page col-sm-3 col-md-3">
		<div class="grid-header small">Current</div>
		{% thumbnail current_page.image "123x85" crop="top" as thum %}
		<a class="thumbnail notred neverred" href="#">
			<img src="{{ thum.url }}" width="{{ thum.width }}" height="{{ thum.height }}">
			<div class="caption-title">
				<div class="thum-info">{{ current_page.actual_pagenumber }}</div>
			</div>
		</a>	
		{% endthumbnail %}
		</div>

		{% if next_page %}
			<div class="pagination-page col-sm-3 col-md-3">
			<div class="grid-header small">Next</div>
			{% thumbnail next_page.image "123x85" crop="top" as thum %}
				<a class="thumbnail notred neverred" href="{% url 'manuscripts_page' item.recurse next_page.slug %}">
					<img src="{{ thum.url }}" width="{{ thum.width }}" height="{{ thum.height }}">
					<div class="caption-title">
						<div class="thum-info">{{ next_page.actual_pagenumber }}</div>
					</div>
				</a>
			{% endthumbnail %}
			</div>	
		{% endif %}
	</div>
{% endblock %}


{% block grid %}
	<div class="gallery_toolbar">
		<div class="btn-group" data-toggle="buttons">
			<a id="page_button" class="btn btn-default notred neverred" href="#page-view" aria-controls="home" role="tab" data-toggle="tab">Page view</a>
			<a id="zoom_button" class="btn btn-default notred neverred" href="#page-view" aria-controls="profile" role="tab" data-toggle="tab">Zoom view</a>
			<a id="transcribe_button" class="btn btn-default notred neverred" href="#transcription-view" aria-controls="profile" role="tab" data-toggle="tab">Transcription view</a>
		</div>
	</div>

	{% with object.manuscript as item %}
	{% include 'manuscripts/includes/infomodal.html' %}
	{% endwith %}

	<div class="tab-content detail_page">
		<div id="transcription-view" role="tabpanel" class="tab-pane">
			<div class="page1" style="overflow:auto;direction:rtl;">
		{% if object.image|is_portrait %}
			{% thumbnail object.image "500" as im %}
				<img id="transcription_page" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" data-zoom-image="{{ MEDIA_URL }}{{ object.image }}">
			</div>
			<div id="transcription" class="panel paneldefault">
			<div style="min-height:{{ im.height }}px;">
			{% endthumbnail %}
		{% else %}
			{% thumbnail object.image "1000" as im %}
				<img id="transcription_page" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" data-zoom-image="{{ MEDIA_URL }}{{ object.image }}">
			</div>
			{% endthumbnail %}
		{% endif %}
			<div class="transcription singletranscription panel paneldefault">
				<div class="excerpt-panel">
					<div class="panel-heading">
						Transcription
					</div>
					<div class="panel-body panel-excerpt">
						<div class="transcription-content">
							{{ object.transcription|safe }}
						</div>
						<div class="referenced_transcription-content" style="display: none;">
							{% show_ref_tag object.transcription %}
						</div>
					</div>
					<div class="panel-nav">
						<a class="notred neverred list-group-item" href="{% url 'manuscripts_list' item.recurse %}"><span class="glyphicon glyphicon-list"></span> Transcription list</a>
						<a id="references_button" class="notred neverred list-group-item" href="#referenced_transcription-content"><span class="glyphicon glyphicon-link"></span> Notebooks</a>
						<a class="notred neverred list-group-item" href="" data-toggle="modal" data-target="#infomodal"><span class="glyphicon glyphicon-question-sign"></span> Info</a>
					</div>
				</div>
			</div>
		</div>
		<div id="page-view" role="tabpanel" class="tab-pane active">
		{% if object.image|is_portrait %}
			{% thumbnail object.image "x700" as im %}
				<img id="source_page" alt="" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" data-zoom-image="{{ MEDIA_URL }}{{ object.image }}">
			{% endthumbnail %}
		{% else %}
			{% thumbnail object.image "1000" as im %}
				<img id="source_page" alt="" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" data-zoom-image="{{ MEDIA_URL }}{{ object.image }}">
			{% endthumbnail %}
		{% endif %}
		</div>
	</div>

{% endblock %}


{% block finaljavascript %}
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
<script>
var button = $('#references_button');
var referencesActive = false;

button.on('click', function() {
	referencesActive = !referencesActive;

	if (referencesActive) {
		$('.transcription-content').hide();
		$('.referenced_transcription-content').show();
	} else {
		$('.referenced_transcription-content').hide();
		$('.transcription-content').show();
	}
});

</script>
<script src="{% static 'JJDLP/js/jquery.elevatezoom.js' %}" type="text/javascript"></script>
<script>
var transcribebutton = $('#transcribe_button');
var zoombutton = $('#zoom_button');
var image = $('#source_page');

var zoomActive = false;

transcribebutton.on('click', function () {
	zoomActive = false;

	$.removeData(image, 'elevateZoom');
	$('.zoomContainer').remove();
});

zoombutton.on('click', function () {

	zoomActive = !zoomActive;

	if (zoomActive) {
		image.elevateZoom({
			scrollZoom: true,
			constrainType:"height",
			lensSize:300,
			zoomType: "lens",
			containLensZoom: true,
			cursor: 'pointer',
			galleryActiveClass: "active"
		});
	} else {
		$.removeData(image, 'elevateZoom');
		$('.zoomContainer').remove();
	}
});
</script>
{% endblock %}