{% extends 'JJDLP/dummy_base.html' %}
{% load url_navigator %}

{% block heads %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}library/css/library_homepage_css.css" />
{% endblock %}

{% block title %}Joyce Notebooks{% endblock %}

{% block body_title %}{% endblock %}

{% block body %}
<div id="toolbar">
	<div class="url_navigator">
		{% include 'library/includes/breadcrumb.html' %}
	</div>

	{% block search %}

		<div class="s">
			<form action="{% url 'notebooks_fast_search' %}" method="get">
					<input class="form-control" id="searchquery" type="text" name='q' placeholder="Search notebooks...">
					<input type="hidden" name="models" value="notebooks.note" /> 
			</form>
		</div>
	{% endblock %}
</div>
<section id="content">
{% block content %}
Oops, you found a hidden page! Please contact the developers.
{% endblock %}
</section>
{% endblock %}
