{% extends 'notebooks/notebooks_dummy_base.html' %}
{% load thumbnail %}
{% load activeurl %}
{% load stringoperations %}

{% block heads %}
<script src="{{ STATIC_URL }}JJDLP/js/jquery-1.11.2.js"></script>
<script src="{{ STATIC_URL }}library/js/scrollsneak.js"></script>
<script src="{{ STATIC_URL }}notebooks/js/noteinfo_onclick.js"></script>
{% endblock %}

{% block content %}

{% block macro_view %}
{% endblock %}
<div class="panel panel-default">
	<div class="panel-body">
		<div class="media">
			{% if frontcover %}
		 	<div class="media-left">
				{% thumbnail frontcover "67x100" crop="98% 0%" as thum %}
				<img src="{{ thum.url }}" width="{{ thum.width }}" height="{{ thum.height }}">
		    	{% endthumbnail %}
		  	</div>
		 	{% endif %}
			<div class="media-body">
			    <h4 class="media-heading">Notebook {{ object.name }}</h4>
			    	{{ page_obj.page_number }}
			    	<br/>
			    	Information gathered from <i>The "Finnegans Wake" Notebooks at Buffalo, VI.B.6</i>.
			    	<br/>
			    	{% if notes %}
			    	<div class="media">
			  			<div class="media-left">
			  				<span class="glyphicon glyphicon-book"></span>
			  			</div>
			  			<div class="media-body">
			    			<h4 class="media-heading">Sources traced</h4>
					    	{% for source in traced_sources %}
					    		<a class="notunderline" href="{% url 'source_detail' slug=source.slug %}">{{ source }}</a><br/>
					    	{% endfor %}
					    </div>
					</div>
					<div class="media">
			  			<div class="media-left">
			  				<span class="glyphicon glyphicon-duplicate"></span>
			  			</div>
			  			<div class="media-body">
			    			<h4 class="media-heading">Manuscripts traced</h4>
					    	{% for manuscriptpage in traced_manuscripts %}
					    		<a class="notunderline" href="{% url 'manuscriptpage_detail' collectionslug=manuscriptpage.manuscript.slug manuscriptpage=manuscriptpage.slug %}">{{ manuscriptpage }}</a><br/>
					    	{% endfor %}
					    </div>
					</div>
			    	<div class="media">
			  			<div class="media-left">
			  				<span class="glyphicon glyphicon-certificate"></span>
			  			</div>
			  			<div class="media-body">
			    			<h4 class="media-heading">Novel references</h4>
					    	{% for novelline in traced_novellines %}
					    		<a class="notunderline" href="{% url 'novelpage_detail' novelslug=novelline.novel.slug novelpage=novelline.page.pagenumber %}">
					    			{% if novelline.novel.slug == 'finnegans-wake' %}FW{% elif novelline.novel.slug == 'ulysses' %}U{% else %}{{ novelline.novel }}{% endif %} {{ novelline.linenumber }}
					    		</a>
					    		<br/>
					    	{% endfor %}
					    </div>
					</div>
					{% endif %}
			</div>
		</div>
	</div>
</div>

</div>
<!-- page wrap closed and open gallery wrap -->
<div class="gallery-wrap">
	<div class="page-gallery">


	<div class="gallery_toolbar">
		<div class="btn-group">
			<button type="button" class="btn btn-default button">
				<span class="glyphicon glyphicon-align-justify"></span>
			</button>
			<button type="button" class="btn btn-default">
				<span class="glyphicon glyphicon-question-sign"></span>
			</button>
		</div>
	</div>

	<div class="page_and_transcription">
		<div class="detail_page">
			<div class="page1">
			{% thumbnail page_obj.image "500" as im %}
				<img id="source_page" alt="" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" style="border:1px solid black">
			</div>
			<div class="transcription singletranscription panel paneldefault">
			<div height="{{ im.height }}px;">
			{% endthumbnail %}
				<div class="panel-body">
					{% if notes %}
					{% for note in notes %}
					<div class="media">
					  <div class="media-body">
					    <h4 class="media-heading notejj noteclick">{{ note|safe }}</h4>
					    	{% with note.sourcepageexcerpt.all as sourcepageexcerpts %}
					    	{% if sourcepageexcerpts %}
								<div class="media sourceinfo noteinfo">
								  <div class="media-left">
								      <span style="color: #c34528;" class="glyphicon glyphicon-book"></span>
								  </div>
								  <div class="media-body">
									{% for excerpt in sourcepageexcerpts %}
									    <a class="notred notunderline" href="{% url 'librarypage_detail' itemslug=excerpt.source.slug req_page=excerpt.sourcepage.actual_pagenumber %}">
											<div>{{ excerpt.source }}: "{{ excerpt.content|safe }}"</div>
										</a>
									{% endfor %}
								  </div>
								</div>
							{% else %}
								{% with note.source_info as source_info %}
						    	{% if source_info %}
									<div class="media sourceinfo noteinfo">
									  <div class="media-left">
									      <span class="glyphicon glyphicon-book"></span>
									  </div>
									  <div class="media-body">
										{{ source_info }}
									  </div>
									</div>
								{% endif %}
								{% endwith %}
							{% endif %}
							{% endwith %}

							

							{% with note.annotation as annotation %}
							{% if annotation %}
								<div class="media annotation noteinfo">
								  <div class="media-body">
								  	{{ annotation }}
								  </div>
								</div>
							{% endif %}
							{% endwith %}

							{% with note.ctransfer as ctransfer %}
							{% if ctransfer %}
								<div class="media ctransfer noteinfo">
								  <div class="media-body">
								  	Transferred to: {{ ctransfer }}
								  </div>
								</div>
							{% endif %}
							{% endwith %}

							{% with note.manuscriptexcerpt as manuscriptexcerpt %}
					    	{% if manuscriptexcerpt %}
				    			<div class="media msinfo noteinfo">
								  <div class="media-left">
										<span style="color: #c34528;" class="glyphicon glyphicon-duplicate"></span>
								  </div>
								  <div class="media-body">
								  	 <a class="notred notunderline" href="{% url 'manuscriptpage_detail' collectionslug=manuscriptexcerpt.manuscript.slug manuscriptpage=manuscriptexcerpt.manuscriptpage.slug %}">
										<div>{{ manuscriptexcerpt.manuscript }}: "{{ manuscriptexcerpt.content|safe }}"</div>
									 </a>
								  </div>
								</div>
					    	{% else %}
								{% with note.msinfo as msinfo %}
								{% if msinfo %}
									<div class="media msinfo noteinfo">
									  <div class="media-left">
											<span class="glyphicon glyphicon-duplicate"></span>
									  </div>
									  <div class="media-body">
									  	{{ msinfo }}
									  </div>
									</div>
								{% endif %}
								{% endwith %}
							{% endif %}
							{% endwith %}

							{% with note.novelline as novelline %}
							{% if novelline %}
								<div class="media novelpage noteinfo">
								  <div class="media-left">
								      <span style="color: #c34528;" class="glyphicon glyphicon-certificate"></span>
								  </div>
								  <div class="media-body">
								  	<a class="notred notunderline" href="{% url 'novelpage_detail' novelslug=novelline.novel.slug novelpage=novelline.page.pagenumber %}">{{ novelline.novel }} {{ novelline.linenumber }}</a>
								  </div>
								</div>
							{% endif %}
							{% endwith %}

					  </div>
					</div>
					{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>
		</div>
		<div class="clear"></div>
			<div class="page-row-well well well-sm">
				{% if previous_page %}
					<div class="page-row">
					{% thumbnail previous_page.image "x170" as previous_thum %}
						<a href="{% url 'notebookpage_detail' noteb=object.name notebpage=previous_page.page_number %}" title="{{ previous_page.page_number }}">
							<img class="thumbnail" src="{{ previous_thum.url }}" width="{{ previous_thum.width }}" height="{{ previous_thum.height }}">
						</a>
					{% endthumbnail %}
					</div>
				{% endif %}
					<div class="page-row">
					{% thumbnail page_obj.image "x170" as actual_thum %}
						<img class="active thumbnail" src="{{ actual_thum.url }}" width="{{ actual_thum.url }}" height="{{ actual_thum.height }}">
					{% endthumbnail %}
					</div>
				{% if next_page %}
					<div class="page-row">
					{% thumbnail next_page.image "x170" as next_thum %}
						<a href="{% url 'notebookpage_detail' noteb=object.name notebpage=next_page.page_number %}" title="{{ next_page.page_number }}">
							<img class="thumbnail" src="{{ next_thum.url }}" width="{{ next_thum.width }}" height="{{ next_thum.height }}">
						</a>
					{% endthumbnail %}
					</div>
				{% endif %}
			</div>
	</div>
	<div class="paginator_select" style="text-align:center;">
	    <select class="selector" onchange="location = this.options[this.selectedIndex].value;">
	    	{% for c_page in c_pages %}
	    	<option value="{% url 'notebookpage_detail' noteb=object.name notebpage=c_page.page_number %}" {% ifequal c_page page_obj %}selected{% endifequal %}>{{ c_page.page_number }}</option>
	    	{% endfor %}
	    </select>
	</div>
</div>
</div>
</div>
{% endblock %}

{% block finaljavascript %}
<!-- <script>
(function() {
    var sneaky = new ScrollSneak(location.hostname), tabs = document.getElementById('tabs').getElementsByTagName('li'), i = 0, len = tabs.length;
    for (; i < len; i++) {
        tabs[i].onclick = sneaky.sneak;
    }
})();
</script>
 -->{% endblock %}
