{% extends 'gentext/desk.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block heads %}
{% endblock %}


{% block item_title %}
<div class="small" style="margin-bottom: 1em;"><span class="glyphicon glyphicon-list-alt"></span> Page</div>
{{ current_page.page_number }}
{% endblock %}


{% block description %}
<div class="titleinfo">
	{{ item }}
</div>
{% endblock %}


{% block cover %}
	{% if current_image.image|is_portrait %}
		{% thumbnail current_page.image "576" upscale=False as im %}
		<a href="#" data-toggle="modal" data-target="#desk-modal">
			<img id="source_page" alt="" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
		</a>
		{% endthumbnail %}
	{% else %}
		{% thumbnail current_page.image "576" upscale=False as im %}
		<a href="#" data-toggle="modal" data-target="#desk-modal">
			<img id="source_page" alt="" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
		</a>
		{% endthumbnail %}
	{% endif %}
{% endblock %}


{% block frontmodal %}
<div class="modal fade" id="desk-modal" role="dialog">
	<div class="modal-dialog">
		{% if current_page.image|is_portrait %}
			{% thumbnail current_page.image "x900" as im %}
				<img class="modal_image" src="{{ im.url }}">
			{% endthumbnail %}
		{% else %}
			{% thumbnail current_page.image "1000" as im %}
				<img class="modal_image" src="{{ im.url }}">
			{% endthumbnail %}
		{% endif %}
	</div>
</div>
{% endblock %}


{% block grid %}
		<div class="detail_page">
		{% if notes %}
			{% for note in notes %}
			<div class="transcription excerpt-panel">
			    <div class="panel-heading notejj noteclick">
			    	<strong>{{ note.notejj|safe }}</strong>
			    </div>
			{% with note.libraryexcerpt.all as libraryexcerpts %}
		    {% with note.annotation as annotation %}
		    {% with note.ctransfer as ctransfer %}
		    {% with note.manuscriptexcerpt as manuscriptexcerpt %}
			{% with note.textline as textline %}
					<div class="panel-body panel-excerpt">
				    	{% if libraryexcerpts %}
							<div class="media sourceinfo noteinfo">
								{% for excerpt in libraryexcerpts %}
								    <a class="thumbnail notred neverred" href="{% url 'library_page' excerpt.item.collection.recurse excerpt.item.slug excerpt.page.actual_pagenumber %}">
										<div>
											<i>{{ excerpt.item }}</i>, {{ excerpt.page.actual_pagenumber }}:
											<br/>
											{{ excerpt.content }}
										</div>
									</a>
								{% endfor %}
							</div>
						{% else %}
					    	{% if note.source %}
								<div class="media sourceinfo noteinfo">
								  <div class="media-body">
									{{ note.source }}
								  </div>
								</div>
							{% endif %}
						{% endif %}

						{% if annotation %}
							<div class="media annotation noteinfo">
							  <div class="media-body">
							  	{{ annotation }}
							  </div>
							</div>
						{% endif %}

						{% if note.note %}
							<div class="media note noteinfo">
							<a class="thumbnail notred neverred" href="{% url 'notebooks_page' note.note.noteb.collection.recurse note.note.noteb note.note.page.page_number %}">
								{{ note.note }}
							</a>
							</div>
						{% else %}
							{% if ctransfer %}
								<div class="media ctransfer noteinfo">
								  <div class="media-body">
								  	Transferred to: {{ ctransfer }}
								  </div>
								</div>
							{% endif %}
						{% endif %}

						{% if note.note_set %}
							{% for n in note.note_set.all %}
							<div class="media note noteinfo">
							<a class="thumbnail notred neverred" href="{% url 'notebooks_page' n.noteb.collection.recurse n.noteb n.page.page_number %}">
								{{ n }}
							</a>
							</div>
							{% endfor %}
						{% endif %}

				    	{% if manuscriptexcerpt %}
			    			<div class="media msinfo noteinfo">
							  	 <a class="thumbnail notred neverred" href="{% url 'manuscripts_page' manuscriptexcerpt.manuscript.slug manuscriptexcerpt.manuscriptpage.slug %}">
									<div>{{ manuscriptexcerpt.content|safe }}</div>
								 </a>
							</div>
				    	{% else %}
							{% with note.msinfo as msinfo %}
							{% if msinfo %}
								<div class="media msinfo noteinfo">
								  <div class="media-left">
										<span class="glyphicon glyphicon-duplicate"></span>
								  </div>
								  <div class="media-body">
								  	{{ msinfo }}
								  </div>
								</div>
							{% endif %}
							{% endwith %}
						{% endif %}

						{% if textline %}
							<div class="media textpage noteinfo">
							  	<a class="thumbnail notred neverred" href="{% url 'texts_page' textline.text.slug textline.page.page_number %}">{{ textline.short }}</a>
							</div>
						{% endif %}
						</div>
						<div class="panel-nav">
				    		<a class="list-group-item notred notunderline" target="_blank" href="{% url 'connect' %}?model=note&pk={{ note.pk }}">
				    			<span class="glyphicon glyphicon-tree-deciduous"></span>
				    			View relations
				    		</a>
				    	</div>
				    
			</div>
			{% endwith %}
			{% endwith %}
			{% endwith %}
			{% endwith %}
			{% endwith %}

			{% endfor %}
		{% endif %}
		</div>
{% endblock %}

{% block pagination %}
	<div class="desk-pagination">
		{% if previous_page %}
			<div class="pagination-page col-sm-3 col-md-3">
			<div class="grid-header small">Previous</div>
			{% thumbnail previous_page.image "123x85" crop="top" as thum %}
				<a class="thumbnail notred neverred" href="{% url 'notebooks_page' item.collection.recurse item previous_page.page_number %}">
					<img src="{{ thum.url }}" width="{{ thum.width }}" height="{{ thum.height }}">
					<div class="caption-title">
						<div class="thum-info">{{ previous_page.page_number }}</div>
					</div>
				</a>
			{% endthumbnail %}
			</div>
		{% endif %}

		<div class="pagination-page col-sm-3 col-md-3">
		<div class="grid-header small">Current</div>
		{% thumbnail current_page.image "123x85" crop="top" as thum %}
		<a class="thumbnail notred neverred" href="#">
			<img src="{{ thum.url }}" width="{{ thum.width }}" height="{{ thum.height }}">
			<div class="caption-title">
				<div class="thum-info">{{ current_page.page_number }}</div>
			</div>
		</a>	
		{% endthumbnail %}
		</div>

		{% if next_page %}
			<div class="pagination-page col-sm-3 col-md-3">
			<div class="grid-header small">Next</div>
			{% thumbnail next_page.image "123x85" crop="top" as thum %}
				<a class="thumbnail notred neverred" href="{% url 'notebooks_page' item.collection.recurse item next_page.page_number %}">
					<img src="{{ thum.url }}" width="{{ thum.width }}" height="{{ thum.height }}">
					<div class="caption-title">
						<div class="thum-info">{{ next_page.page_number }}</div>
					</div>
				</a>
			{% endthumbnail %}
			</div>	
		{% endif %}
	</div>
{% endblock %}

{% block finaljavascript %}
<script>
$("#info-toggle").click(function() {
	$(".panel-excerpt").toggle("fast");
	if ($(this).children(":first-child").hasClass("glyphicon-align-justify")) {
		$(".glyphicon-align-justify").toggleClass("glyphicon-align-justify glyphicon-minus"); 
	} else {
		$(".glyphicon-minus").toggleClass("glyphicon-minus glyphicon-align-justify"); 
	}
});
</script>
{% endblock %}
