{% load staticfiles %}
{% load activeurl %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
<title>{% block title %}Home{% endblock %} | James Joyce Digital Library</title>
<link rel="stylesheet" type="text/css" href="{% static 'JJDLP/css/JJDLP_css.css' %}" />
<link rel="shortcut icon" href="http://www.geneticjoycestudies.org/favicon.ico">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="{% static 'JJDLP/js/jquery-1.11.2.js' %}"></script>
<script src="{% static 'JJDLP/js/bootstrap.min.js' %}"></script>
{% block heads %}
{% endblock %}
</head>
<body>
	{% block navigation %}
	<div id="mainheader-wrap">
	<nav class="navbar navbar-default collapse navbar-collapse">

	<div class="head_nav">
		<div id="sec-wrap container-fluid">
			<a class="navbar-brand" href="{% url 'home' %}" style="padding-left: 46.5%; padding-top: 5px">
				<img class="img-circle" style="" src="{{ STATIC_URL }}JJDLP/images/jjoyce.png" width="50" height="40">
			</a>
			{% activeurl %}
			<ul class="nav navbar-nav navbar-right">
				<li><a style="cursor: default;">|</a></li>
				{% if user.is_authenticated %}
				<li style="margin-left: -10px;margin-right: -10px">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gratings, <strong>{{ user }}</strong>!</a>
					<ul class="dropdown-menu">
						<li><a title="Logout" href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
					</ul>
				</li>
				{% else %}
				<li>
					<a title="Login" href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span></a>
				</li>
				{% endif %}
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span> <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a title="Bibliography" href="{% url 'bibliography' %}"><span class="glyphicon glyphicon-bold"></span> Bibliography</a></li>				
						<li><a href="{% url 'stats' %}"><span class="glyphicon glyphicon-stats"></span> Stats</a></li>
						<li><a href="{% url 'about' %}"><span class="glyphicon glyphicon-question-sign"></span> About</a></li>
						<li><a href="develop"><span class="glyphicon glyphicon-edit"></span> Notify</a></li>
						<li><a href="{% url 'home' %}admin"><span class="glyphicon glyphicon-wrench"></span> Admin</a></li>
						<li><a href="{% url 'docs' %}"><span class="glyphicon glyphicon-info-sign"></span> Docs</a></li>
					</ul>
				</li>
			</ul>
			{% endactiveurl %}
		</div>

	</div>
	
	</nav>

</div>
	{% endblock %}
	<div id="body">
	{% block id_body %}
	<div class="intro" style="background-image:url({{STATIC_URL}}JJDLP/images/half_lib.jpg); background: rgba(204, 204, 204); background-size:cover; background-repeat: no-repeat; background-position: center center; height:90vh; margin-top: -19px; margin-bottom: -79px; width: 99.2vw; filter:grayscale(50%);">

	<div class="intro-text" style="max-width: 1280px; min-width: 1024px; margin: 0 auto; text-align:center; font-family: 'Raleway',sans-serif;">
	  <h1 style="color:#efefef; font-size:62pt;padding-top: 3em; padding-bottom: 0.5em; font-weight: 800; line-height: 72px;">James Joyce digital library</h1>
	  <p style="color: #efefef;padding-bottom: 3em; font-size: 25pt;">Studying genetic Joyce</p>
		<div class="row">
		  <div class="col-sm-6 col-md-3">
		    <a class="thumbnail notunderline" style="cursor: pointer; background: rgba(195, 69, 40, 0.9);" href="{% url 'library_home' %}">
		      <div class="caption" style="color: #efefef;">
		        <h3>Library</h3>
		        <p>James Joyce's personal library.</p>
		      </div>
		    </a>
		  </div>

		  <div class="col-sm-6 col-md-3">
		    <a class="thumbnail notunderline" style="cursor: pointer; background: rgba(195, 69, 40, 0.9);" href="{% url 'notebooks_home' %}">
		      <div class="caption" style="color: #efefef;">
		        <h3>Notebooks</h3>
		        <p>James Joyce's notebooks.</p>
		      </div>
		    </a>
		  </div>

		  <div class="col-sm-6 col-md-3">
		    <a class="thumbnail notunderline" style="cursor: pointer; background: rgba(195, 69, 40, 0.9);" href="{% url 'manuscripts_home' %}">
		      <div class="caption" style="color: #efefef;">
		        <h3>Manuscripts</h3>
		        <p>James Joyce's manuscripts.</p>
		      </div>
		    </a>
		  </div>

		  <div class="col-sm-6 col-md-3">
		    <a class="thumbnail notunderline" style="cursor: pointer; background: rgba(195, 69, 40, 0.9);" href="{% url 'texts_home' %}">
		      <div class="caption" style="color: #efefef;">
		        <h3>Texts</h3>
		        <p>James Joyce's published texts.</p>
		      </div>
		    </a>
		  </div>

		</div>
	</div>
	</div>

	{% endblock %}
	</div>
	<div class="push"></div>

	<div class="footer-wrap">
		<div class="footer">
			<div class="copyright info">© 2016 University of Antwerp, James Joyce Digital Library.</div>
			<div class="footerimages info">
				<img src="https://www.uantwerpen.be/styles2/UA/reference/img/logo_en.png" width="120px" style="padding-right: 15px;">
				<img src="{{ STATIC_URL }}JJDLP/images/cmg.png" width="150px" style="padding-right: 15px;">
			</div>
		</div>
	</div>
{% block finaljavascript %}
{% endblock %}
</body>
</html>