{% extends "JJDLP/dummy_base.html" %}

{% block title %}Bibliography - James Joyce Database{% endblock %}

{% block heads %}
{% endblock %}

{% block body_title %}{% endblock %}

{% block body %}
<h1>Bibliography</h1>
<hr>

<div id="content" style="width:240px; position: absolute;">
	<h2>Contents</h2>
	<ol style="margin-left: 15px;">
		<li><a href="#references">References</a></li>
	</ol>
</div>

<div class="md" style="margin-left: 240px; margin-top: 3em;">

	<h2 id="references"></h2>

		<p>Dalton, Jack, Mikio Fuse, Robbert-Jan Henkes and Geert Lernout. 2009. "Emendations to Finnegans Wake notebook VI.B.16." <i>Genetic Joyce Studies</i> 9.</p>
		<p>Connolly, Thomas Edmund. 1977. <i>The Personal Library of James Joyce: a descriptive bibliography.</i> University of Buffalo.</p>
		<p>Fuse, Mikio and Robbert-Jan Henkes. 2008. "Emendations to the Transcription of Finnegans Wake Notebook VI.B.5." <i>Genetic Joyce Studies</i> 8.</p>
		<p>Fuse, Mikio, Robbert-Jan Henkes and Geert Lernout. 2009. "Further Emendations to Finnegans Wake notebook VI.B.3." <i>Genetic Joyce Studies</i> 9.</p>
		<p>----. 2010. "Emendations to the Transcription of Finnegans Wake Notebook VI.B.14." <i>Genetic Joyce Studies</i> 10.</p>
		<p>----. 2011. "Emendations to the Transcription of Finnegans Wake Notebook VI.B.10." <i>Genetic Joyce Studies</i> 11.</p>
		<p>Groden, Michael et al. 1978-1979. <i>James Joyce Archive (JJA).</i> New York: Garland Publishing.</p>
		<p>Henkes, Robbert-Jan and Geert Lernout. 2009. "My Life and the Erotic Hounds of Banba: Three New Sources in Notebook Z'ch B.03." <i>Genetic Joyce Studies</i> 9.</p>
		<p>Henkes, Robbert-Jan. 2008. "Reading in the Rain. New Sources in the Owldeed (VI.B.5) and Prairies (VI.B.14) Notebooks." <i> Genetic Joyce Studies</i> 8.</p>
		<p>----. 2008. "James Joyce in Africa. An Expedition to the Sources of the Wake." <i>Genetic Joyce Studies</i> 8.</p>
		<p>----. 2009. "Irish Rivers Nr. X, The Tolka." <i>Genetic Joyce Studies</i> 9.</p>
		<p>----. 2010. "Re:Reading in the Rain: Newer Sources and Holiday Reading in the Prairies (VI.B.14) Notebook." <i>Genetic Joyce Studies</i> 10.</p>
		<p>----. 2014. "2 weeks in the life of James Joyce: as gleaned from his 1923 Notebook VI.B.2 Nativities (revised edition)." <i>Genetic Joyce Studies</i> 14.</p>
		<p>----. 2014. "2 more weeks in the life of James Joyce: as gleaned from his 1923 Notebook VI.B.2 Nativities (revised edition)." <i>Genetic Joyce Studies</i> 14.</p>
		<p>----. 2015. "A Secretful of Sources, or More Books at the <i>Wake</i>." <i>European Joyce Studies</i> 25. 201-212.</p>
		<p>	Joyce, James &amp; Geert Lernout, Daniel Ferrer &amp; Vincent Deane (eds.). 2001-2004. <i>The "Finnegans Wake" Notebooks at Buffalo.</i> Turnhout: Brepols Publishers.</p>
		<p>Rose, Danis. 1995. <i>The Textual Diaries of James Joyce.</i> Dublin: Lilliput Press.</p>
		<p>Van Hulle, Dirk. 2004. <i>Textual Awareness: A Genetic Study of Late Manuscripts by Joyce, Proust, and Mann.</i> Michigan: University of Michigan Press.</p>
</div>


{% endblock %}