{% extends "JJDLP/dummy_base.html" %}

{% block title %}Bibliography - James Joyce Database{% endblock %}

{% block heads %}
{% endblock %}

{% block body_title %}{% endblock %}

{% block body %}
<h1>Bibliography</h1>
Bibliographical information about the sources used.
<hr>

<div id="content" style="width:240px; position: absolute;">
	<h2>Contents</h2>
	<ol style="margin-left: 15px;">
		<li><a href="#references">References</a></li>
	</ol>
</div>

<div class="md" style="width:750px; margin-left: 240px; margin-top: 3em;">

	<h2 id="references">References</h2>
		<p>
		Groden, Michael et al. 1978-1979. <i>James Joyce Archive (JJA).</i> New York: Garland Publishing.
		</p>
		<p>
		Joyce, James &amp; Geert Lernout, Daniel Ferrer &amp; Vincent Deane (eds.). 2001-2004. <i>The "Finnegans Wake" Notebooks at Buffalo.</i> Turnhout: Brepols Publishers.
		</p>
		<p>
		Rose, Danis. 1995. <i>The Textual Diaries of James Joyce.</i> Dublin: Lilliput Press.
		</p>
		<p>
		Van Hulle, Dirk. 2004. <i>Textual Awareness: A Genetic Study of Late Manuscripts by Joyce, Proust, and Mann.</i> Michigan: University of Michigan Press.
		</p>
</div>


{% endblock %}