{% extends "JJDLP/dummy_base.html" %}
{% load markdown_filter %}

{% block title %}Docs | Joyce Web Archive{% endblock %}

{% block heads %}
{% endblock %}

{% block body_title %}{% endblock %}

{% block body %}
	<h1>Documentation</h1>
	This text serves as a practical aid for users, (future) administrators and developers of the project.
	<hr>

	{% if not view.raw %}

		<div style="width:240px; position: absolute;">
			<h2>Contents</h2>
			<div id="content"></div>
		</div>

		<div class="md" style="margin-left: 240px; margin-top: 3em;">
			{{ view.docs|markdownify|safe }}		
		</div>

	{% else %}
		<div style="font-family: Courier;">
			{{ view.docs|linebreaks }}
		</div>
	{% endif %}

{% endblock %}

{% block finaljavascript %}
<script>
// moves table of contents to left-hand column
$(".toc").appendTo("#content");
</script>
{% endblock %}
