{% extends "JJDLP/dummy_base.html" %}

{% block title %}Stats - James Joyce Database{% endblock %}

{% block heads %}
{% endblock %}

{% block body_title %}{% endblock %}

{% block body %}
<h1>Stats</h1>

<div class="panel panel-default">
	<div class="panel-body">
		<span class="glyphicon glyphicon-stats"></span> Information on the progress and setup of the project.
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		Distribution of the database content
	</div>
	<div class="panel-body" style="text-align: center;">
		<div class="chart-wrap">
			<div id="distribution_pie"></div>
		</div>
		<div class="distribution-info">
			Library items: {{ library_items }},
			Notes: {{ notebooks_notes }},
			Manuscript pages: {{ manuscript_pages }},
			Novel pages: {{ novels_pages }}
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		Structure of the models
	</div>
	<div class="panel-body">
		<img src="{{ STATIC_URL }}JJDLP/images/jjdb_models.png" width="980px;">
	</div>
</div>

{% endblock %}

{% block finaljavascript %}
<!-- d3pie -->
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js"></script>
<script src="{{ STATIC_URL }}library/js/d3pie.min.js"></script>

<script>

	var pie = new d3pie("distribution_pie", {
		"header": {
			"title": {
				"text": ""
			}
		},
		"size": {
			"canvasWidth": 590,
			"pieOuterRadius": "80%"
		},
		"data": {
			
			"content": [
				{
					"label": "Library items",
					"value": {{ library_items }},
					"color": "#BC3228",
				},
				{
					"label": "Notes",
					"value": {{ notebooks_notes }},
					"color": "#4D4D4D",
				},
				{
					"label": "Manuscript pages",
					"value": {{ manuscript_pages }},
					"color": "#1F6893",
				},
				{
					"label": "Novel pages",
					"value": {{ novels_pages }},
					"color": "#24AF30",
				}
			]
		},
		"labels": {
			"outer": {
				"pieDistance": 32
			},
			"inner": {
				"format": "percentage",
				"hideWhenLessThanPercentage": 3
			},
			"mainLabel": {
				"fontSize": 11
			},
			"lines": {
				"enabled": true
			},
			"truncation": {
				"enabled": true
			}
		},
	});

</script>

{% endblock %}