{% extends "JJDLP/dummy_base.html" %}

{% block title %}Bibliography - James Joyce Database{% endblock %}

{% block heads %}
{% endblock %}

{% block body_title %}{% endblock %}

{% block body %}
<h1>Bibliography</h1>

<div class="panel panel-default">
	<div class="panel-body">
		<span class="glyphicon glyphicon-bold"></span> Bibliographical information about the sources used.
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<p>
		Groden, Michael et al. 1978-1979. <i>James Joyce Archive (JJA).</i> New York: Garland Publishing.
		</p>
		<p>
		Joyce, James &amp; Geert Lernout, Daniel Ferrer &amp; Vincent Deane (eds.). 2001-2004. <i>The "Finnegans Wake" Notebooks at Buffalo.</i> Turnhout: Brepols Publishers.
		</p>
		<p>
		Rose, Danis. 1995. <i>The Textual Diaries of James Joyce.</i> Dublin: Lilliput Press.
		</p>
		<p>
		Van Hulle, Dirk. 2004. <i>Textual Awareness: A Genetic Study of Late Manuscripts by Joyce, Proust, and Mann.</i> Michigan: University of Michigan Press.
		</p>
	</div>
</div>


{% endblock %}