{% extends "JJDLP/dummy_base.html" %}

{% block title %}Bibliography - James Joyce Database{% endblock %}

{% block heads %}
{% endblock %}

{% block body_title %}{% endblock %}

{% block body %}
<h1>Bibliography</h1>

<div class="panel panel-default">
	<div class="panel-body">
		<span class="glyphicon glyphicon-bold"></span> Bibliographical information about the sources used.
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		Rose, Danis. 1995. <i>The Textual Diaries of James Joyce.</i> Dublin: Lilliput Press.
		<br/>
		Van Hulle, Dirk. 2004. <i>Textual Awareness: A Genetic Study of Late Manuscripts by Joyce, Proust, and Mann.</i> Michigan: University of Michigan Press.
	</div>
</div>


{% endblock %}