{% extends 'JJDLP/dummy_base.html' %}

{% block title %}Advanced Search{% endblock %}

{% block body %}

    <h1>Advanced search</h1>
    <div id="specified_info">
        <form method="get" action=".">
            <table id="advanced_search">
                {{ form.as_table }}
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <input type="submit" value="Search">
                    </td>
                </tr>
            </table>

            {% if query %}
                {% include 'search/includes/top_paginator.html' %}
                <div class="panel panel-default">
                <div class="panel-body">
                    <table class="result_list">
        				<tbody>
        					{% for result in page.object_list %}

                        {% with result.object.notepage as notepagenumber %}
                        {% with result.object.slug as libraryslug %}
                        {% with result.object.page_number as manuscriptpagenumber %}
                        {% with result.object.linenumber as line %}

                            {% if notepagenumber %}
                                {% include 'notebooks/includes/notebooks_searchresults.html' %}
                            
                            {% elif manuscriptpagenumber %}
                                {% include 'manuscripts/includes/manuscripts_searchresults.html' %}

                            {% elif libraryslug or libraryitem %}
                                {% include 'library/includes/library_searchresults.html' %}

                            {% elif line %}
                                {% include 'texts/includes/texts_searchresults.html' %}

                            {% endif %}

                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}

        					{% endfor %}
        				</tbody>
        			</table>

                    {% include 'search/includes/bottom_paginator.html' %}
                </div>
                </div>
                
            {% else %}
                <div class="fail">
                Please enter a search query.</div>
            {% endif %}
        </form>
    </div>
{% endblock %}