{% extends 'JJDLP/dummy_base.html' %}

{% block title %}Advanced Search{% endblock %}

{% block body %}
<div id="content">

    <div class="left-paginator">
        <h2>Search database</h2>
        <div class="more-search">
        <form class="form-wrap" action="." method="get">
            <input class="form-control" id="searchquery" type="text" name='q' placeholder="Search...">
            <button class="searchbutton btn btn-default" type="submit">Search</button>
            <div class="labels">
                <label for="id_models_0">
                    <input id="id_models_0" name="models" type="checkbox" value="library.libraryitem">
                    Library items
                </label>
                <br/>
                <label for="id_models_1">
                    <input id="id_models_1" name="models" type="checkbox" value="library.libraryexcerpt">
                    Library excerpts
                </label>
                <br/>
                <label for="id_models_2">
                    <input id="id_models_2" name="models" type="checkbox" value="notebooks.note">
                    Notes
                </label>
                <br/>
                <label for="id_models_3">
                    <input id="id_models_3" name="models" type="checkbox" value="manuscripts.manuscriptpage">
                    Manuscripts
                </label>
                <br/>
                <label for="id_models_4">
                    <input id="id_models_4" name="models" type="checkbox" value="texts.line">
                    Texts
                </label>
            </div>
        </form>
        </div>
    </div>

    <div class="search-results">
            {% if query %}
                {% with page as page_obj %}
                {% include 'gentext/includes/count_paginator.html' %}
                {% endwith %}
                <hr class="pag-hr"/>

        					{% for result in page.object_list %}

                        {% with result.object.noteb as notepagenumber %}
                        {% with result.object.item as libraryexcerpt %}
                        {% with result.object.collection as libraryitem %}
                        {% with result.object.manuscript as manuscriptpagenumber %}
                        {% with result.object.linenumber as line %}

                            {% if notepagenumber %}
                                {% include 'notebooks/includes/notebooks_searchresults.html' %}
                            
                            {% elif manuscriptpagenumber %}
                                {% include 'manuscripts/includes/manuscripts_searchresults.html' %}

                            {% elif libraryexcerpt or libraryitem %}
                                {% include 'library/includes/library_searchresults.html' %}

                            {% elif line %}
                                {% include 'texts/includes/texts_searchresults.html' %}

                            {% endif %}

                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}

        					{% endfor %}
        				</tbody>
        			</table>

                    {% with page as page_obj %}
                    {% include 'gentext/includes/nums_paginator.html' %}
                    {% endwith %}
                </div>
                </div>
                
            {% else %}
                <div class="pagination" id="pag_info">Please submit a search query</div>
            {% endif %}
    </div>
</div>
{% endblock %}