{% extends dummy_base %}
{% load thumbnail %}

{% block content %}
	<div id="detailcover">
		{% block cover %}
			{% if frontcover %}
				{% thumbnail frontcover.image "300" crop="90% 0%" as im %}
				<a href="#" data-toggle="modal" data-target="#detailModal">
					<img class="frontcover" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
				</a>
				{% endthumbnail %}
			{% endif %}
		{% endblock %}
	</div>

	{% block frontmodal %}
		{% if frontcover %}
		<div class="modal fade" id="detailModal" role="dialog">
			<div class="modal-dialog">
				{% thumbnail frontcover.image "x900" as im %}
					<div class="modal_titleHeading" style="width: {{ im.width }}px;">{{ item.bib }}</div>
					<img class="modal_image" src="{{ im.url }}">
				{% endthumbnail %}
			</div>
		</div>
		{% endif %}
	{% endblock %}

	<div class="{% block column %}{% if frontcover.image %}column650{% endif %}{% endblock %}">

		<h2>{% block item_title %}{{ item }}{% endblock %}</h2>
		{% block description %}{% endblock %}
		{% block info %}{% endblock %}
		<hr/>
		
		<div class="view-nav">
			{% block nav %}{% endblock %}
		</div>

		<div class="view-grid">
			{% block grid %}
				{% for element in collection_list %}
					{{ element.page_number }}
				{% endfor %}
			{% endblock %}
		</div>

		{% block extra %}{% endblock %}

	</div>
{% endblock %}
