{% extends 'JJDLP/dummy_base.html' %}
{% load staticfiles %}
{% load markdown_filter %}


{% block heads %}
<link rel="stylesheet" href="{% static 'JJDLP/css/homepage.css' %}"/>
{% endblock %}


{% block title %}Texts{% endblock %}


{% block body %}
<div class="homepage-wrap">
	
	<div class="module module-header">
		<div class="left">
			<div class="title">James Joyce's texts</div>
			<div class="info"></div>
			<div class="module-counter">
				Texts: <strong>{{ textcount }}</strong>
				<br/>
				Lines: <strong>{{ linecount }}</strong>
			</div>
		</div>

		<div class="search">
			<form class="form-wrap" action="{% url 'notebooks_fast_search' %}" method="get">
				<input class="form-control" id="searchquery" type="text" name='q' placeholder="Search text lines...">
				<input type="hidden" name="models" value="texts.line" />
				<button class="searchbutton btn btn-default" type="submit">Search</button>
			</form>
			<div style="text-align: right;float: right;">
				<a href="{% url 'haystack_search' %}">advanced search</a>
			</div>
		</div>
	</div>

<hr/>
	<table id="head_banner">
	<tr>
	</tr>
	</table>
	<div class="chart-info" style="color:#999; margin-top: 15px; margin-left: 15px;">
		<span class="small"></span>
	</div>
<hr style="margin-top: 5px;" />

	<div class="texts">
		<div class="viewer">
			<div class="module-title">
				<div class="module-info">
					<p>Text blabla</p>
				</div>		
				<span class="title-text">Available texts</span>
				<div class="module-info">
					<p>more text blabla</p>
				</div>
			</div>
			<div class="col-md-12">
				{% for text in texts %}
				<div class="pane">
					<div class="pane-title">
						{{text}}
					</div>
					<div class="pane-body">{{ text.info|markdownify|safe }}</div>
					<a class="pane-link notunderline" href="{% url 'texts_item' text.slug %}"><span class="pane-link-text">more</span> <span class="glyphicon glyphicon-link"></span></a>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

</div>

{% endblock %}
