{% extends 'gentext/catalogue.html' %}
{% load staticfiles %}
{% load markdown_filter %}
{% load humanize %}

{% block heads %}
{% endblock %}


{% block item_title %}
	<div class="small" style="margin-bottom: 1em;"><span class="glyphicon glyphicon-book"></span> {% if item.item_type %}{{ item.item_type|title }}{% else %}Text{% endif %}</div>
	{{ item }}
{% endblock %}


{% block description %}
	<div class="titleinfo">
		{% if item.publication_date %}{{ item.publication_date }}{% endif %}
		<br/>
		{% if item.publisher %}{{ item.publisher }}{% endif %}
	</div>
{% endblock %}


{% block info %}{{ item.info|markdownify|safe }}{% endblock %}


{% block nav %}
	<div class="list-group">
		<a class="list-group-item notred" href="{% url 'notebooks_home' %}">
			<span class="glyphicon glyphicon-list-alt"></span> {{ view.notebooks }} notebook{{ view.notebooks|pluralize }}
		</a>
	</div>
{% endblock %}


{% block grid %}
	{% for section in view.sections %}
		{% for chapter in section.chapter_set.all %}
		<div>
			{{ chapter }}: pp. {{ chapter.page_set.first.page_number }} - {{ chapter.page_set.last.page_number }}
		</div>
		{% endfor %}
	{% endfor %}

	<div class="pagination">
		Go to page 
	    <select class="selector" onchange="location = this.options[this.selectedIndex].value;">
	    	{% for page in collection_list %}
	    	<option value="{% url 'texts_page' slug=item.slug page=page.page_number %}">{{ page.page_number }}</option>
	    	{% endfor %}
	    </select>
    </div>
{% endblock %}
