{% extends 'gentext/desk.html' %}
{% load stringoperations %}

{% block heads %}
{% endblock %}

{% block item_title %}
<div class="small" style="margin-bottom: 1em;"><span class="glyphicon glyphicon-list-alt"></span> Page</div>
{{ current_page }}
{% endblock %}

{% block description %}
<div class="titleinfo">
	{{ item }}
</div>
{% endblock %}



{% block content_division %}
{% endblock %}


{% block grid %}

<div id="detail">
	<div class="novel_page">
	{% if lines %}
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="djpagination" style="margin-top: 10px;" id="pag_info">
					{% if previous_page %}
					<a href="{% url 'texts_page' item.slug previous_page.page_number %}">&#171;</a> {{ previous_page.page_number }} |
					{% endif %}
					<strong>{{ current_page.page_number }}</strong>
					{% if next_page %}
					| {{ next_page.page_number }} <a href="{% url 'texts_page' item.slug next_page.page_number %}">&#187;</a>
					{% endif %}
				</div>
			
				<table style="margin-bottom: 20px;">
					{% for line in lines %}
					<tr class="linenumber" id="{{ line.linenumber }}">
						<td>{{ line.content|safe }}</td>
						<td style="float: right;">{% if line.linenumber|splitondot != '99' %}{{ line.linenumber|splitondot }}{% endif %}</td>
					</tr>
					{% endfor %}
				</table>
		</div>
	{% endif %}
	</div>    
</div>

{% endblock %}

